*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,#e3f2fd,#bbdefd);
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}
 .form-container{
    background: #ffffff;
    max-width: 600px;
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.form-container h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #1e88e5;
    text-align: center;
}
.form-group  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500px;
    color: #555; 
}
.form-group input,
.form-group textarea,
.form-group select{
    width: 100%;
    padding: 0.9;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
} 
 .form-group input:focus,
.form-group textarea:focus,
.form-group select:focus{
    border-color: #1e88e5;
}
.form-group textarea{
    resize: none; 
}
.form-group button {
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background:#1e88e5 ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}   
.form-group button:hover{
    background: #1565c0;
}
