body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
#navbar{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    z-index: 1;
}
#navbar-brand{
    display: flex;
    align-items: center; 
    gap: 40px;
}
.logo{
    width: 60px;
}
#navlink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70%;
    gap: 35px;
    text-decoration: none;
}
#navlink a{
    text-decoration: none;
}
#box1{
    background: url('watermark1.jpg') center / cover no-repeat;
    text-align: center;
    width: 100%;
    height: 700px;
     z-index: -1;
}
#box1  h4 {
    text-align: center;
      margin-left: 100px; 
      font-size: 50px;   
}
#box3{
    background: url(watermark2.jpg) center / cover no-repeat;
    text-align: center;
    width: 100%;
    height: 1000px;
    background-color: white;
    color: black;
}
.boxx11{
    margin-left: 300px;

}
.aux{
    text-align: center;
    color: rgb(22, 94, 94);
}
.aux1{
    text-align: center;
    color: rgb(48, 2, 2);

}
.aux2 img{
    height: 60px;
    width: 60px;
    margin: 20px;
    padding: 10px;
}
.aux2 {
     margin-left: 400px;
}
.boxx22{
    margin-left: 400px;
    gap: 40px;
}
.head1{
    color: darkgreen;
    text-align: center;
}
#card2 {
    margin-bottom: 30px;  
}
td img {
    width: 250px;
    height: 150px;
}

.divmain2{
     width: 100%;
    height: 100px;
    text-align: center;  

}
 #gap{
    border-collapse:separate ;
    border-spacing :30px; 
     padding: 50px;
    margin-left: 180px;  
}  
.footer{
    background-color: darkgreen;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section{
    flex: 400px;
     margin: 10px; 
}
.footer-section ul{
    list-style: none;
    padding: 0;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
     margin: 4px; 
}
.footer-section p {
      margin: 4px;  
}
.footer-bottom{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}
.social-icons a img {
    width: 40px;
    height: 40px;
      margin-left: 20px; 
}

.footer{
    background-color:green;
}
.hero10{
    width: 100% ;
    margin: 0;
    padding: 0;
}
#boxx{
    height: 60px;
}